  @media screen {
    .onlyprint { display: none !important; }
  }

  @media print {
    .onlyprint { display: block !important; }
    .noprint   { display: none  !important; }
    .footnote  { display: none  !important; }
    .fixedpopup { display: none  !important; }
    h1         { page-break-before: always; }
    h2         { page-break-after: avoid; }
    h3         { page-break-after: avoid; }
    h4         { page-break-after: avoid; }
    h5         { page-break-after: avoid; }
    p          { page-break-inside: avoid; }  }

  @page {
     margin: 1.5cm
  }


  /* use standardized HTML tags for deletion and insertion markup */
  del {
    background-color: seashell;
    color: darkred;
    text-decoration: line-through;
    text-decoration-color: red;
  }
  del:hover { background-color: #ffbfbf; }

  ins {
    background-color: lightyellow;
    color: green;
    text-decoration-style: double;
    text-decoration-color: green;
  }
  ins:hover { background-color: #ffff66; }

  /* URL links to match https://pdfa.org */
  a {
     color: #d03f4e;
     text-decoration: underline;
     text-decoration-thickness: auto;
  }

  a:hover {
     color: black;
     text-decoration: underline;
     text-decoration-thickness: auto;
  }

  /* Appearance of clause indices at top of each clause*/
   .noprint li {
     line-height: 1;
   } 

  .footnote {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 80%;
    color: #747474; /* darkish gray */
  }

/* ISO style to mimic ISO documents */

  .isostyle {
    font-family: Cambria, Georgia, serif;
    letter-spacing: normal;
  }

  .isostyle .fixedpopup {
    visibility: hidden;
    position: fixed;
    float:right;
    right: 10px;
    min-height: 18px;
    min-width: 116px;
    max-width: 120px;
    background-color: #f1f1f1;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    padding: 2px 1px;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links to Issues in GitHub */
  .fixedpopup a {
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Deeply nested headings get smaller than body text so fix */
  .isostyle h4 {
    font-weight: 500; 
    font-size: 1.2rem !important; 
    text-transform: none;
    letter-spacing: normal;
  }
  .isostyle h5 {
    font-weight: 500; 
    font-size: 1.1rem !important;
    letter-spacing: normal;
  }
  .isostyle h6 {
    font-weight: 500; 
    font-size: 1rem !important;
    letter-spacing: normal;
  }

  /* Avoid dual H1 tags - but make it look like an ISO doc */
  .fake-h1 {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 15px;
  }

  .isostyle table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid black;
  }

  .isostyle caption {
    font-weight: bold;
  }

  .isostyle th {
    text-align: left;
    border-collapse: collapse;
    border: 1px solid black;
    border-top: solid thick;
    border-bottom: solid thick;
  }

  .isostyle td {
    text-align: left;
    vertical-align:top;
    min-width: 50px;
    max-width: 500px;
    border-collapse: collapse;
    border: 1px solid black;
  }

  .isostyle code {
    font-family: monospace;
    font-size: smaller;
    background-color: transparent;
    border: 0px;
    padding: 0px 0px;
    white-space: pre;
    white-space-collapse: preserve;
  }

  .isostyle .hangingindent {
    padding-left: 40px;
    text-indent: -40px;
  }

  .isostyle .editornote {
    font-weight: bold;
    color: purple;
    background-color: snow;
    text-decoration: initial;
  }

  .isostyle .location {
    font-style: italic;
    color: DimGrey;
    font-size: 80%;
  }

  .isostyle figcaption {
    font-weight: bold;
    text-align: center;
  }

  .isostyle ol.alphalist {
    list-style: lower-alpha outside;
    counter-reset: step-counter 0; 
   }


// Copied from https://github.com/just-the-docs/just-the-docs/blob/main/_sass/content.scss
// so that <ol> styles can be overriden to avoid forced numeric list styles

// Styles for rendered markdown in the .main-content container
// stylelint-disable selector-no-type, max-nesting-depth, selector-max-compound-selectors, selector-max-type, selector-max-specificity, selector-max-id

.main-content {
  line-height: $content-line-height;

  ol,
  ul,
  dl,
  pre,
  address,
  blockquote,
  .table-wrapper {
    margin-top: 0.5em;
  }

  a {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ul,
  ol {
    padding-left: 1.5em;
  }

  li {
    .highlight {
      margin-top: $sp-1;
    }
  }

  ol {
    // list-style-type: none;
    // counter-reset: step-counter;

    > li {
      position: relative;

      &::before {
         position: absolute;
         top: 0.2em;
         left: -1.6em;
         // color: red;
         content: none;
         // counter-increment: step-counter;
         @include fs-3;

         @include mq(sm) {
           top: 0.11em;
         }
      }

      ol {
        // counter-reset: sub-counter;

        > li {
          &::before {
             content: none;
             // counter-increment: sub-counter;
          }
        }
      }
    }
  }

  ul {
    list-style: none;

    > li {
      &::before {
        position: absolute;
        margin-left: -1.4em;
        color: $grey-dk-000;
        content: "•";
      }
    }
  }

  .task-list-item {
    &::before {
      content: "";
    }
  }

  .task-list-item-checkbox {
    margin-right: 0.6em;
    margin-left: -1.4em;

    // The same margin-left is used above for ul > li::before
  }

  hr + * {
    margin-top: 0;
  }

  h1:first-of-type {
    margin-top: 0.5em;
  }

  dl {
    display: grid;
    grid-template: auto / 10em 1fr;
  }

  dt,
  dd {
    margin: 0.25em 0;
  }

  dt {
    grid-column: 1;
    font-weight: 500;
    text-align: right;

    &::after {
      content: ":";
    }
  }

  dd {
    grid-column: 2;
    margin-bottom: 0;
    margin-left: 1em;

    blockquote,
    div,
    dl,
    dt,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    ol,
    p,
    pre,
    table,
    ul,
    .table-wrapper {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  dd,
  ol,
  ul {
    dl:first-child {
      dt:first-child,
      dd:nth-child(2) {
        margin-top: 0;
      }
    }
  }

  .anchor-heading {
    position: absolute;
    right: -$sp-4;
    width: $sp-5;
    height: 100%;
    padding-right: $sp-1;
    padding-left: $sp-1;
    overflow: visible;

    @include mq(md) {
      right: auto;
      left: -$sp-5;
    }

    svg {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: $link-color;
      visibility: hidden;
    }
  }

  .anchor-heading:hover,
  .anchor-heading:focus,
  h1:hover > .anchor-heading,
  h2:hover > .anchor-heading,
  h3:hover > .anchor-heading,
  h4:hover > .anchor-heading,
  h5:hover > .anchor-heading,
  h6:hover > .anchor-heading {
    svg {
      visibility: visible;
    }
  }

  summary {
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  #toctitle {
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 0.25em;

    + table,
    + .table-wrapper,
    + .code-example,
    + .highlighter-rouge,
    + .sectionbody .listingblock {
      margin-top: 1em;
    }

    + p:not(.label) {
      margin-top: 0;
    }
  }

  > h1:first-child,
  > h2:first-child,
  > h3:first-child,
  > h4:first-child,
  > h5:first-child,
  > h6:first-child,
  > .sect1:first-child > h2,
  > .sect2:first-child > h3,
  > .sect3:first-child > h4,
  > .sect4:first-child > h5,
  > .sect5:first-child > h6 {
    margin-top: $sp-2;
  }
}
