---
---

@import "{{ site.theme }}";

.h1          { color: blue; }

.newtext     { background-color: lightyellow; color: green; }
.deletedtext { background-color: seashell; color: red; text-decoration: line-through; text-decoration-color: red; }
